.video {
    position: absolute;
    height: 40vh;
    left: 2vw;
    top: 3vh;
    border-style: groove;
    border-color: black;
}

.buttonWrapper {
    position: absolute;
    top: 46vh;
    left: 2vw;
}
